<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="404" path="Error404.html"/>
      <error statusCode="500" path="Error500.html"/>
    </httpErrors>
    <staticContent>
      <mimeMap fileExtension="webp" mimeType="image/webp"/>
    </staticContent>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="999" maxRequestLength="2097151"/>
    <customErrors mode="Off"/>
    <!-- <customErrors mode="On"> -->
    <!-- <error statusCode="404" redirect="/Error404.html" /> -->
    <!-- <error statusCode="500" redirect="/Error500.html" /> -->
    <!-- </customErrors> -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.8" tempDirectory="C:\Inetpub\vhosts\sbu.ac.in\tmp"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="myConSBURC" connectionString="server=64.202.189.216;database=DB_SBUR;uid=sa;password=Dilip@123;"/>
    <add name="myConSBUR" connectionString="server=64.202.189.216;database=DB_SBUR;uid=sa;password=Dilip@123;"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
</configuration>